<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="description" content="Telegram channel management service">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/css/style.css">
        <script src="static/js/posts.js" async defer></script>
    </head>
    <body class="body">
        <header>
            <nav>
                <ul>Header</ul>
            </nav>
        </header>
        <main>
            <section>
                <h2>Новости</h2>
                <div class="posts">
                    <p>Нет доступных публикаций</p>
                </div>
            </section>
        </main>
        <footer>
            Footer
        </footer>
        <template id="post-template">
            <div class="post">
                <p class="post-text"></p>
                <span class="post-status"></span>
                <button class="btn-post-publish" name="publishButton" type="button">
                    Опубликовать
                </button>
                <button class="btn-post-edit" name="editButton" type="button">
                    Редактировать
                </button>
                <button class="btn-post-delete" name="deleteButton" type="button">
                    Удалить
                </button>
            </div>
        </template>
        <template id="post-form">
            <form>
                <input class="text-input" type="text">
                <button class="btn-post-save" name="saveButton" type="button">
                    Сохранить
                </button>
            </form>
        </template>
        <script>
            // Call onLoad after loading the html code
            document.addEventListener('DOMContentLoaded', () => {
                onLoad();
            });

            async function onLoad () {
                await updatePosts();
            };
        </script>
    </body>
</html>